<FilesMatch "\.(ico|pdf|jpg|jpeg|png|gif|js|css)$">
Header set Expires "Tue, 1 Jan 2019 10:00:00 GMT"
</FilesMatch>

# Проверяем пришел ли запрос по протоколу HTTPS и если нет - то для основного домена сайта оптравляем его на HTTPS
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^(www\.)?(https://xn----etbhjakfcejhbfl7bf.xn--p1ai)
RewriteRule ^ https://%2%{REQUEST_URI} [R=301,L]﻿﻿﻿

# Prevent Directoy listing
Options -Indexes
